name: "Authentication"

services:
  db:
    image: postgres:16-alpine 
    container_name: postgres_container
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: authentication
    volumes:
      - authentication:/var/lib/postgresql

volumes:
  authentication:
