@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

